div.catalog-page-container {
  width: 100%;
  overflow: hidden;
  display: block;
  padding: 0px 10px;
  min-width: 320px !important;
  overflow: hidden;
  min-height: calc(100vh - 140px); }
  div.catalog-page-container nav.breadcrumbs-cust {
    width: 100%;
    display: block;
    overflow: hidden; }
    div.catalog-page-container nav.breadcrumbs-cust ol {
      padding-top: 0px;
      padding-bottom: 20px; }
      div.catalog-page-container nav.breadcrumbs-cust ol li {
        color: #9697a1; }
        div.catalog-page-container nav.breadcrumbs-cust ol li a {
          color: #9697a1;
          text-decoration: none; }
  div.catalog-page-container .left-part {
    width: 100%;
    display: block; }
    div.catalog-page-container .left-part .cat-navbar-wrapper {
      width: 100%;
      overflow: hidden;
      background: #fff;
      border: none;
      border-radius: 5px;
      margin-bottom: 15px; }
      div.catalog-page-container .left-part .cat-navbar-wrapper .cat-navbar {
        width: 100%;
        overflow: hidden;
        display: block;
        padding: 12px 17px; }
        div.catalog-page-container .left-part .cat-navbar-wrapper .cat-navbar ul {
          width: 100%;
          display: block;
          padding: 0;
          margin: 0;
          list-style-type: none; }
          div.catalog-page-container .left-part .cat-navbar-wrapper .cat-navbar ul li.active {
            font-weight: 700; }
            div.catalog-page-container .left-part .cat-navbar-wrapper .cat-navbar ul li.active a {
              color: #ff7676; }
          div.catalog-page-container .left-part .cat-navbar-wrapper .cat-navbar ul li a {
            font-size: 13px;
            line-height: 25px;
            color: #2d2f43;
            text-decoration: none;
            width: 100%;
            transition: all 0.15s ease-in-out; }
            div.catalog-page-container .left-part .cat-navbar-wrapper .cat-navbar ul li a:hover, div.catalog-page-container .left-part .cat-navbar-wrapper .cat-navbar ul li a:active {
              color: #ff7676; }
    div.catalog-page-container .left-part .footer-sm {
      width: 100%;
      overflow: hidden;
      padding: 15px;
      background: #fff;
      border: none;
      border-radius: 5px;
      line-height: 0px; }
      div.catalog-page-container .left-part .footer-sm .top-line {
        width: 100%;
        overflow: hidden;
        padding-bottom: 5px;
        border-bottom: 1px solid #e6e6e6; }
        div.catalog-page-container .left-part .footer-sm .top-line ul {
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          list-style-type: none;
          padding: 0;
          margin: 0; }
          div.catalog-page-container .left-part .footer-sm .top-line ul li {
            line-height: 0px; }
            div.catalog-page-container .left-part .footer-sm .top-line ul li a {
              line-height: 20px;
              color: #9697a1;
              text-decoration: none;
              margin-right: 20px;
              font-size: 12px;
              transition: color 0.27s ease-in-out; }
              div.catalog-page-container .left-part .footer-sm .top-line ul li a:hover, div.catalog-page-container .left-part .footer-sm .top-line ul li a:active {
                color: #ff7676; }
      div.catalog-page-container .left-part .footer-sm .bottom-line {
        width: 100%;
        overflow: hidden;
        line-height: 0px;
        margin-top: 10px; }
        div.catalog-page-container .left-part .footer-sm .bottom-line ul {
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          list-style-type: none;
          padding: 0;
          margin: 0;
          line-height: 0px;
          height: auto;
          min-height: 0px; }
          div.catalog-page-container .left-part .footer-sm .bottom-line ul li {
            line-height: 0px;
            padding: 0px;
            height: auto;
            min-height: 0px; }
            div.catalog-page-container .left-part .footer-sm .bottom-line ul li a {
              line-height: 12px;
              color: #9697a1;
              text-decoration: none;
              font-size: 12px; }
  div.catalog-page-container .right-part .pords-sorting-panel {
    background: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px; }
    div.catalog-page-container .right-part .pords-sorting-panel div.current-catg {
      padding: 15px 20px;
      border-bottom: 1px solid #eee; }
      div.catalog-page-container .right-part .pords-sorting-panel div.current-catg h4 {
        font-size: 16px;
        line-height: 20px;
        color: #2d2f43;
        margin: 0;
        padding: 0px; }
    div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form {
      padding: 15px 15px 0px 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option {
        flex-basis: auto;
        margin-right: 10px;
        margin-bottom: 15px; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option div.bootstrap-select {
          width: auto !important; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-toggle {
          border: 1px solid #eee;
          font-size: 12px;
          color: #2d2f43;
          padding: 0px 15px;
          line-height: 30px;
          border-radius: 3px;
          display: block;
          cursor: pointer; }
          div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-toggle span {
            line-height: inherit; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu {
          top: 40px !important;
          border: none;
          box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1); }
          div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table {
            padding: 15px; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input {
              padding: 5px 15px 5px 10px; }
              div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input {
                border: 1px solid #eee;
                border-radius: 5px;
                width: 130px;
                outline: 0;
                transition: all 0.30s ease-in-out;
                color: #72777c;
                font-size: 12px;
                padding: 5px 5px 5px 15px; }
                div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input:active, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input:hover, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input:focus {
                  border: 1px solid #ff7676; }
                  div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input:active::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input:hover::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input:focus::placeholder {
                    color: #ff7676; }
                div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.input input::placeholder {
                  transition: all 0.30s ease-in-out;
                  color: #72777c;
                  font-size: 12px; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.label {
              padding-left: 15px; }
              div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.label span {
                font-size: 12px;
                line-height: 12px;
                color: #192a32;
                font-weight: 700; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.apply-filter {
              padding: 10px 15px 5px 10px; }
              div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.price-range .dropdown-menu table tr td.apply-filter button {
                border: 1px solid #ff7676;
                background: #ff7676;
                color: #fff;
                font-size: 12px;
                width: 100%;
                padding: 5px 0px;
                text-align: center;
                border-radius: 5px; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-toggle, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-toggle {
          border: 1px solid #eee;
          font-size: 12px;
          color: #2d2f43;
          padding: 0px 15px;
          line-height: 30px;
          border-radius: 3px;
          display: block;
          cursor: pointer; }
          div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-toggle span, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-toggle span {
            line-height: inherit; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu {
          top: 40px !important;
          border: none;
          top: 40px !important;
          box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1); }
          div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table {
            padding: 15px; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input {
              padding: 5px 15px 5px 10px; }
              div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input {
                border: 1px solid #eee;
                border-radius: 5px;
                width: 200px;
                outline: 0;
                transition: all 0.30s ease-in-out;
                color: #72777c;
                font-size: 12px;
                padding: 5px 5px 5px 15px; }
                div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input:active, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input:hover, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input:focus, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input:active, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input:hover, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input:focus {
                  border: 1px solid #ff7676; }
                  div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input:active::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input:hover::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input:focus::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input:active::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input:hover::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input:focus::placeholder {
                    color: #ff7676; }
                div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.input input::placeholder, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.input input::placeholder {
                  transition: all 0.30s ease-in-out;
                  color: #72777c;
                  font-size: 12px; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.label, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.label {
              padding-left: 15px; }
              div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.label span, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.label span {
                font-size: 12px;
                line-height: 12px;
                color: #192a32;
                font-weight: 700; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.apply-filter, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.apply-filter {
              padding: 10px 15px 5px 10px; }
              div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.brand-name .dropdown-menu table tr td.apply-filter button, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.key-word .dropdown-menu table tr td.apply-filter button {
                border: 1px solid #ff7676;
                background: #ff7676;
                color: #fff;
                font-size: 12px;
                width: 100%;
                padding: 5px 0px;
                text-align: center;
                border-radius: 5px; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker button.dropdown-toggle {
          background: #fff;
          border: 1px solid #eee;
          font-size: 12px;
          color: #192a32;
          outline: 0 !important;
          box-shadow: none; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu {
          max-height: 250px;
          top: 40px !important;
          border: none;
          box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1); }
          div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .bs-searchbox {
            padding: 5px 15px; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .bs-searchbox input {
              box-shadow: none;
              border: 1px solid #eee;
              border-radius: 5px;
              padding: 0px 0px 0px 15px;
              height: 30px;
              color: #72777c;
              font-size: 13px; }
              div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .bs-searchbox input:active, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .bs-searchbox input:hover, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .bs-searchbox input:focus {
                border: 2px solid #ff7676; }
          div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .dropdown-item {
            font-size: 13px;
            color: #192a32; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .dropdown-item:hover, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .dropdown-item:active, div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .dropdown-item:focus {
              background: #fff; }
            div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option.bootstrap-select-picker .dropdown-menu .dropdown-item.active {
              background: #fff; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option button.reset-filter {
          border: 1px solid #ff7676;
          font-size: 12px;
          line-height: 28px;
          padding: 0 30px;
          border-radius: 3px;
          color: #fff;
          background: #ff7676;
          outline: 0 !important;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
        div.catalog-page-container .right-part .pords-sorting-panel div.filter-form-wrapper form div.filt-option button:disabled {
          opacity: 0.3;
          cursor: not-allowed; }
  div.catalog-page-container .right-part .active-filter-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    div.catalog-page-container .right-part .active-filter-options div.option {
      background: #fff;
      border: 1px solid #eee;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;
      padding: 1px 15px;
      margin-bottom: 10px;
      margin-right: 10px;
      line-height: 0px; }
      div.catalog-page-container .right-part .active-filter-options div.option span.val {
        font-size: 12px;
        line-height: 22px;
        color: #2d2f43;
        opacity: 0.8; }
      div.catalog-page-container .right-part .active-filter-options div.option span.delete {
        cursor: pointer; }
        div.catalog-page-container .right-part .active-filter-options div.option span.delete svg {
          width: 15px;
          height: 15px;
          fill: #2d2f43; }
      div.catalog-page-container .right-part .active-filter-options div.option:hover span svg {
        fill: #ff7676; }
  div.catalog-page-container .right-part .prealoader-wrapper {
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    div.catalog-page-container .right-part .prealoader-wrapper.hidden {
      display: none;
      visibility: hidden; }
    div.catalog-page-container .right-part .prealoader-wrapper:not(.hidden) ~ .prods-items-container {
      display: none;
      visibility: hidden; }
    div.catalog-page-container .right-part .prealoader-wrapper:not(.hidden) ~ .prods-items-container-404 {
      display: none;
      visibility: hidden; }
    div.catalog-page-container .right-part .prealoader-wrapper:not(.hidden) ~ .load-more-pruducts {
      display: none;
      visibility: hidden; }
    div.catalog-page-container .right-part .prealoader-wrapper div.loader-icon {
      width: 30px;
      height: 30px; }
      div.catalog-page-container .right-part .prealoader-wrapper div.loader-icon svg {
        width: 100%;
        height: 100%; }
    div.catalog-page-container .right-part .prealoader-wrapper h5 {
      padding: 0;
      margin: 0;
      font-size: 13px;
      font-weight: 300;
      color: #72777c;
      margin-top: 10px; }
  div.catalog-page-container .right-part .filter-404 {
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    div.catalog-page-container .right-part .filter-404 div.icon {
      width: 30px;
      height: 30px; }
      div.catalog-page-container .right-part .filter-404 div.icon svg {
        width: 100%;
        height: 100%;
        fill: #72777c; }
    div.catalog-page-container .right-part .filter-404 h5 {
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      color: #192a32;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center; }
    div.catalog-page-container .right-part .filter-404 p {
      font-size: 13px;
      line-height: 14px;
      color: #2d2f43;
      text-align: center; }
  div.catalog-page-container .right-part .prods-items-container {
    margin: 0px -10px !important; }
    div.catalog-page-container .right-part .prods-items-container div.galcolumn {
      padding: 0px 10px !important; }
    div.catalog-page-container .right-part .prods-items-container .prod-item {
      overflow: hidden;
      border-radius: 5px;
      border: none; }
  div.catalog-page-container .right-part .load-more-pruducts {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 15px 0; }
    div.catalog-page-container .right-part .load-more-pruducts button {
      padding: 5px 20px;
      color: #ff7676;
      border-radius: 4px;
      border: 1px solid #ff7676;
      outline: 0;
      font-size: 13px;
      box-shadow: none;
      background: transparent; }
      div.catalog-page-container .right-part .load-more-pruducts button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }

/*# sourceMappingURL=catalog.master.style.css.map */
