/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.body div.prod-name h6 {
    font-size: 13px !important; }
  div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.body div.prices span {
    font-size: 13px !important; } }
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  div.home-page-content-wrapper {
    padding: 0 25px; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.body div.prod-name h6 {
      font-size: 12px !important; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.body div.prices span {
      font-size: 12px !important; } }
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 780px) {
  div.home-page-content-wrapper {
    padding: 0 15px; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-name h6 {
      margin-bottom: 0px !important;
      font-size: 12px !important;
      font-weight: normal !important; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc {
      padding: 10px !important; }
      div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span {
        font-size: 12px !important; }
        div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span.star-icon svg {
          width: 12px !important;
          height: 12px !important; }
        div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span.star-icon span.rating-num {
          font-size: 12px !important; } }
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  div.home-page-content-wrapper {
    padding: 0 12px; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-name h6 {
      margin-bottom: 0px !important;
      font-size: 11px !important;
      font-weight: normal !important; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc {
      padding: 7px !important; }
      div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span {
        font-size: 11px !important; }
        div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span.star-icon svg {
          width: 10px !important;
          height: 10px !important; }
        div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span.star-icon span.rating-num {
          font-size: 11px !important; } }
@media (min-width: 240px) and (max-width: 320px) {
  div.home-page-content-wrapper {
    padding: 0 10px; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-name h6 {
      margin-bottom: 0px !important;
      font-size: 11px !important;
      font-weight: normal !important; }
    div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc {
      padding: 7px !important; }
      div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span {
        font-size: 10px !important; }
        div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span.star-icon svg {
          width: 10px !important;
          height: 10px !important; }
        div.home-page-content-wrapper div.prods-items-container.home-page-items div.prod-item div.prod-desc div.prices span.star-icon span.rating-num {
          font-size: 8px !important; } }
@media (min-width: 10px) and (max-width: 240px) {
  body {
    display: none !important; } }

/*# sourceMappingURL=media.queries.css.map */
