/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 780px) {
  div.account-setting-page div.form-fieldset-title div.row {
    margin: 0px !important; }
  div.account-setting-page div.form-field-box div.row {
    margin: 0px !important; }
    div.account-setting-page div.form-field-box div.row div.text-right {
      text-align: left !important;
      padding: 0px !important; }
      div.account-setting-page div.form-field-box div.row div.text-right label {
        padding: 0px !important;
        margin-bottom: 10px; }
      div.account-setting-page div.form-field-box div.row div.text-right.hidden-insm {
        display: none !important; } }
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  div.account-setting-page div.form-fieldset-title div.row {
    margin: 0px !important; }
  div.account-setting-page div.form-field-box div.row {
    margin: 0px !important; }
    div.account-setting-page div.form-field-box div.row div.text-right {
      text-align: left !important;
      padding: 0px !important; }
      div.account-setting-page div.form-field-box div.row div.text-right label {
        padding: 0px !important;
        margin-bottom: 10px; }
      div.account-setting-page div.form-field-box div.row div.text-right.hidden-insm {
        display: none !important; }
    div.account-setting-page div.form-field-box div.row div.avatar-settings div.avatar {
      width: 45px !important;
      height: 45px !important; }
      div.account-setting-page div.form-field-box div.row div.avatar-settings div.avatar button {
        width: 25px !important;
        height: 25px !important; }
        div.account-setting-page div.form-field-box div.row div.avatar-settings div.avatar button i {
          font-size: 10px !important;
          line-height: 12px !important; } }
@media (min-width: 240px) and (max-width: 320px) {
  div.account-setting-page div.form-fieldset-title div.row {
    margin: 0px !important; }
  div.account-setting-page div.form-field-box div.row {
    margin: 0px !important; }
    div.account-setting-page div.form-field-box div.row div.text-right {
      text-align: left !important;
      padding: 0px !important; }
      div.account-setting-page div.form-field-box div.row div.text-right label {
        padding: 0px !important;
        margin-bottom: 10px; }
      div.account-setting-page div.form-field-box div.row div.text-right.hidden-insm {
        display: none !important; }
    div.account-setting-page div.form-field-box div.row div.avatar-settings div.avatar {
      width: 45px !important;
      height: 45px !important; }
      div.account-setting-page div.form-field-box div.row div.avatar-settings div.avatar button {
        width: 25px !important;
        height: 25px !important; }
        div.account-setting-page div.form-field-box div.row div.avatar-settings div.avatar button i {
          font-size: 10px !important;
          line-height: 12px !important; } }
@media (min-width: 10px) and (max-width: 240px) {
  body {
    display: none; } }

/*# sourceMappingURL=store.accsettings.mq.css.map */
