div.account-setting-page div.form-group.form-field-box div.avatar-settings div.avatar {
  width: 65px;
  height: 65px;
  position: relative; }
  div.account-setting-page div.form-group.form-field-box div.avatar-settings div.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10em; }
  div.account-setting-page div.form-group.form-field-box div.avatar-settings div.avatar button {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ff7676;
    color: #fff;
    text-align: center;
    border: none;
    box-shadow: none;
    outline: 0;
    border-radius: 10em;
    top: -10px;
    right: -5px; }
    div.account-setting-page div.form-group.form-field-box div.avatar-settings div.avatar button i {
      font-size: 15px;
      line-height: 25px; }
div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }
  div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    min-width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    height: 130px; }
    div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      border: 2px dashed #d4e3eb;
      background: #f8fafb;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.27s ease; }
      div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner span.icon {
        font-size: 0px;
        padding: 0;
        margin: 0;
        line-height: 0px; }
        div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner span.icon i {
          font-size: 26px;
          line-height: 26px;
          color: #1fb4ef;
          opacity: 0.7;
          transition: all 0.27s ease; }
      div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner span.c2a {
        font-size: 12px;
        height: 18px;
        color: #1fb4ef;
        opacity: 0.7;
        transition: all 0.27s ease;
        text-align: center;
        padding: 0;
        margin-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%; }
      div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:hover, div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:active, div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:focus {
        border: 2px dashed #1fb4ef; }
        div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:hover span.c2a, div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:hover span.icon i, div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:active span.c2a, div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:active span.icon i, div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:focus span.c2a, div.account-setting-page div.form-group.form-field-box div.filed-box div.verif-files-attachment div.attachment-area div.filed-box-inner:focus span.icon i {
          opacity: 1 !important; }

/*# sourceMappingURL=store.accsettings.style.css.map */
